.Home{

  background-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.14' fill-rule='evenodd'/%3E%3C/svg%3E");
@media screen {min-width: 380px;
  flex-direction: column;
}
}
  .welcome{
 
 padding-right: 50px;
  padding-top: 150px;
  
}
.wel{
  font-size: 7vw;
  padding-left: 150px;
  
}
.wel::first-letter{
  color: #ff0000;
  font-size: 150px;
}
.wel1{
  padding-left: 100px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about{
  background-image: url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg");

  background-repeat: no-repeat;
  background-size:cover ;  
  
  background-blend-mode: lighten;
  @media screen {min-width: 380px;
    flex-direction: column;
  }
}
.flip-card {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: block;
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px; 
  opacity: 0.7;
  border-radius: 50%;
 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  color: white;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: rgb(0, 0, 0);
}
.flip-card-back {
  opacity: 1;
  background-color: rgb(22, 21, 22);
  color: white;
  transform: rotateY(180deg);
}

.online{
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 50px 100px;
}



.pubgback{
  display: flex;
  background-size:cover ;
  @media screen {min-width: 380px;
    flex-direction: column;
  }
}
.pubg{
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

}
.pubgimg{
 width: 100%;
 height: auto;
}

.pubgcontent{
  color: rgb(0, 0, 0);

}
.pubglink{
  font-size: 20px;
  color: green;
  align-items: center;
}
.godback{
  display: flex;
  background-size:cover ;
  @media screen {min-width: 380px;
    flex-direction: column;
  }
}

.god{
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.godimg{
  width: 100%;
  height: auto;
}
.godcontent{
  color: rgb(0, 0, 0);
}
.uncharterback{
  display: flex;
  background-size:cover ;
  @media screen {min-width: 380px;
    flex-direction: column;
  }
}
.uncharterimg{
  width: 100%;
  height: auto;
}
.uncharter{
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.unchartercontent{
  color: rgb(0, 0, 0);
}

.card1{
  text-align: left;
  margin-top: 77px;
  background-color: rgb(197, 197, 197);
  opacity: 0.5;
  height: 300px;
}
.abtcontent{
  margin-left: 20px;
  margin-left: 20px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.home,
.services,
.reports,
.contact,
.events,
.support {
	display: flex;
	margin-left: 260px;
	font-size: 2rem;
  color: #bbb;
}
.gamegenre{
  margin-left: 1rem;
  color: rgb(0, 0, 0);
}

/*login*/
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23000000' fill-opacity='0.75' fill-rule='evenodd'/%3E%3C/svg%3E");
  
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #ffffff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  margin-bottom: 100px;
  width: 400px;
  background-color: rgb(0, 0, 0);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
 color: white;
}

.title2{
  color: white;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  color:rgb(255, 255, 255);
}

/*cards*/
.pop{

  color: #ffffff;
 border-style: outset;
 border-color: rgb(0, 255, 13);
  margin-top: 150px;
  font-size: 50px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  &:hover{
    color: rgb(255, 255, 255);
    background-color: #530000;
    border-color: rgb(85, 0, 0);
  }
}
.cards7{
  margin-top: 100px;
  margin-left: 90px;
  background-color: #000000;
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.1);
    box-shadow: 3px 10px 8px 8px rgb(0, 0, 0);
  }
}
.poptable{
  padding: 20px;
  margin-top: 20px;
  overflow-x: auto;
  background-image: url("https://st4.depositphotos.com/4874705/25622/i/600/depositphotos_256229820-stock-photo-dark-red-hexagon-background-and.jpg");
}

.secret{
 
font-family:Verdana, Geneva, Tahoma, sans-serif;
margin-top: 550px;
margin-right: 0px;
margin-left: 1px;
text-align: center;
  color: #ffffff;
}

/*card*/

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}



.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  margin-top: 50px;
}

.container .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after
{
  background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.container .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #000000;
}

.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2
{
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 10px;
  
}

.container .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover
{
  background: #9b2f05;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}
.btn12{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
  &:hover{
    cursor: pointer;
    background-color: #ffcf4d;
    border: 1px solid rgba(255, 0, 88, 0.4);
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
  }
} 
.Action{
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_2t/1585.jpg");
  background-repeat: no-repeat;
  background-size:cover ;
  display: flex;
  padding: 50px 100px;
}

.card-text{
  margin-left: 50px;
  color: rgb(0, 0, 0);
}
.Admin{
  display: flex;
  background-repeat: no-repeat;
  background-size:cover ;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23000000' fill-opacity='0.75' fill-rule='evenodd'/%3E%3C/svg%3E");

}
.container-fluid{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.creatorimg {
  --color: #FA6900; /* the color of the border */
  --border: 10px;   /* the thickness of the border */
  --offset: 30px;   /* control the movement of the border */
  --gap: 5px;       /* the gap on hover */
  margin-left: 115px;
  border-radius: 50%;
  cursor: pointer;
  padding: calc(var(--border) + var(--gap));
  border: var(--offset) solid #0000;
  --_m: radial-gradient(50% 50%, #000 calc(100% - var(--offset)),#0000 calc(100% - var(--border)));
  -webkit-mask: var(--_m);
          mask: var(--_m);
  --_g: #0000 calc(99% - var(--border)), var(--color) calc(100% - var(--border)) 99%,#0000;
  --_s: var(--offset);
  --_r: 100% 100% at;
  background:
    radial-gradient(var(--_r) 0    0   ,var(--_g)) calc(100% + var(--_s)) calc(100% + var(--_s)),
    radial-gradient(var(--_r) 100% 0   ,var(--_g)) calc(0%   - var(--_s)) calc(100% + var(--_s)),
    radial-gradient(var(--_r) 0    100%,var(--_g)) calc(100% + var(--_s)) calc(0%   - var(--_s)),
    radial-gradient(var(--_r) 100% 100%,var(--_g)) calc(0%   - var(--_s)) calc(0%   - var(--_s));
  background-size: 50% 50%;
  background-repeat: no-repeat;
  transition: .4s;
}
.creatorimg:hover {
  --_s: 0px
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
	box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}
.creatorp {
	margin: 0;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

.creatorwrapper {
	min-width: min(40rem, 100%);
}

.creatorbox {
	font-size: 3vw;
	margin: max(1rem, 3vw);
	border: 0.35rem solid;
	padding: 3vw;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}
@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
} 
.copy{
  color: white;
  text-align:center;
  margin-top: 50px;
  background-color: #252121;
}
.cardhome{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  margin-top: 450px;
}
.arrowbtn{
  border-radius: 50%;
  width: 70px;
  height: 60px;
  font-size: 2vw;
  &:hover{
    transition: 200ms ease-in;
    background-image:linear-gradient(black,grey);
    color: white;
  }
}
.arbtn{
  padding: 50px 200px;
}

.click{
font-size: 2vw;
}
.mostex{
  text-align: right;
  padding-right: 60px;
  
}
.mostex1::first-letter{
  color: green;
  font-family: Garamond, serif;
  font-size: 80px;
}
.description1{
  text-align: right;
  padding-right: 60px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}

.parent {
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem 2rem;
  text-align: center;
}
.esport {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
.esportimg{
  box-shadow: 10px 10px 5px #282727;
      -moz-box-shadow: 10px 10px 5px #2a2727;
      -webkit-box-shadow: 10px 10px 5px #322d2d;
      -khtml-box-shadow: 10px 10px 5px #2f2c2c;
}
.ehead{
  font-size: 4vw;
  padding-right: 300px;
}
.ehead::first-letter{
  font-size: 5vw;
  color: blue;
}
